body {
  font-family: Montserrat, sans-serif;
}

.navbar
{
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
  margin: 0; 
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap
    -webkit-flex-flow: row nowrap;
  background-color: white;
}

.navbar a img {
  height:70px;
}

#main-nav{
  transition: 0.6s ease ;
}

.navbar .contact-info
{
  list-style: none;
  color: rgba(0,0,0,.5);
  line-height: 16px;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.navbar .contact-info i {
  margin-right: 10px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: 0;
}

.footer p {
  margin-bottom: 0;
}

#home {
  padding-top: 30px;
  background-image: url('../images/backdrop-home-edited.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 690px;
  margin-top: 0px;
}

#welcome {
  margin-top: 140px;
  color: darkslateblue;
}

#welcome-products {
  margin-top: 30px;
  color: darkslategray;
}

.welcome-product {
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome-product i {
  margin-right: 10px;
}

#welcome-footer {
  margin-top: 100px;
  margin-bottom: 50px;
  color: darkslateblue;
}

#about
{
  background-color: white;
  padding-bottom: 40px;
}

#about h3 {
  margin-top: 70px;
  margin-bottom: 20px;
}

#about .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#about img {
  margin-top: 20px;
  margin-bottom: 20px;
}


#gallery-welcome {
  margin-top: 150px;
  margin-bottom: 70px;
}

#gallery-title-image {
  margin-bottom: 30px;
}
#gallery-welcome button {
  background-color: darkslateblue;
  margin: 30px 0 40px;
  border: none;
  display: block;
}

.announcement {
  background-color: darkslategrey;
  padding: 40px 0 30px;
  color: white;
  text-align: center;
}


footer p {
  padding: 10px;
}

.footer-menu
{
  display: none;
  margin-top: 8px;
  margin-bottom: 10px;
  list-style-type: none;
  color: rgba(0,0,0,.5);
  line-height: 16px;
}



@media (max-width: 880px)
{
  .navbar .contact-info{
    display: none;
  }
}

@media (max-width: 1080px)
{

  .footer-menu
  {
    display: block;

  }
}
