body {
  font-family: Montserrat, sans-serif;
}

.navbar
{
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
  margin: 0; 
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap
    -webkit-flex-flow: row nowrap;
  background-color: white;
}

.navbar a img {
  height:70px;
}

#main-nav{
  transition: 0.6s ease ;
}

.navbar .contact-info
{
  list-style: none;
  color: rgba(0,0,0,.5);
  line-height: 16px;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.navbar .contact-info i {
  margin-right: 10px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: 0;
}

.footer p {
  margin-bottom: 0;
}

.owl-nav .owl-prev
{
    position: absolute;
    top: 30%;
    right: auto;
    left: 20px;
}

.owl-nav .owl-next
{
    position: absolute;
    left: auto; 
    right: 20px;
    top: 30%;

}


.owl-nav .owl-next span,
.owl-nav .owl-prev span
{
  font-weight: bold;
  font-size: 3em;  
  color: #000; 
  transform: translateY(-50%);
}



.owl-nav .owl-next span:hover,
.owl-nav .owl-prev span:hover
{
  background-color: #fff;
}

.container-4
{
  width: auto;
  //min-height: 20%;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.5);
  margin-left: 1em;
  background-color: #fff;
  margin-bottom: 1em;
}

.container-4 img
{
  border-radius: 10px 10px 0px 0px;
}


.container-4 p
{
  color: darkslategrey;
  padding: 5px;
}

#home {
  padding-top: 30px;
  background-image: url('../images/backdrop-home-edited.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 690px;
  margin-top: 0px;
}

#welcome {
  margin-top: 140px;
  color: darkslateblue;
}

#welcome-products {
  margin-top: 30px;
  color: darkslategray;
}

.welcome-product {
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome-product i {
  margin-right: 10px;
}

#welcome-footer {
  margin-top: 100px;
  margin-bottom: 50px;
  color: darkslateblue;
}

#about
{
  background-color: white;
  padding-bottom: 40px;
}

#about h3 {
  margin-top: 70px;
  margin-bottom: 20px;
}

#about .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#about img {
  margin-top: 20px;
  margin-bottom: 20px;
}


#gallery-welcome {
  margin-top: 150px;
  margin-bottom: 70px;
}

#gallery-title-image {
  margin-bottom: 30px;
}

#gallery-welcome .button {
  background-color: darkslategrey;
  margin: 30px 0 40px;
  border: none;
  color: white;
  display: block;
}

.announcement {
  background-color: darkslategrey;
  padding: 40px 0 30px;
  color: white;
  text-align: center;
}

.wrapper
{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.item
{
  background-color: red;
}


.selectpicker
{
  width: 220px;
  height: 32px;
  border-radius: 5px;
  align-items: center;
  position: absolute;
  right: auto;
  top: 67%;
  left: 2%;
  bottom: auto;
}

footer p 
{
  padding: 10px;
  text-align: center;
  
}

footer
{
  box-shadow: 0px -5px 7px 0px rgba(0,0,0,0.3);
  margin: 10 0 0 0;
}

.footer-menu
{
  display: none;
  margin-top: 8px;
  margin-bottom: 10px;
  list-style-type: none;
  color: rgba(0,0,0,.5);
  line-height: 16px;
}


.hero-text
{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}


.row {
  margin: 0;
}

@media (max-width: 880px)
{
  .navbar .contact-info{
    display: none;
  }

   .container-4
  {
    min-height: 19%;
  }
}

@media (max-width: 1080px)
{

  .footer-menu
  {
    display: block;

  }

   .container-4
  {
    min-height: 20%;
  }

}


@media (max-width: 2560px)
{
    .container-4
    {
      min-height: 35%;
    }
}
